:root{
    --green:#5f84bd;
    --white: #fff;
    --Grayish-Blue: #95a9c6;
    --Very-Light-Gray: #fafafa;
    --Dark-Grayish-Violet: #837d87;
    --Dark-grey: #2b282f;

    --image-url:../images/bg-pattern-how-we-work-desktop.svg;
}

*{
    box-sizing: border-box;
}
body{
    max-width: 100%;
    font-family: 'Karla', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "left-main right-main"
    "about about"
    "contact contact"
    "footer footer";
}

.header {
    grid-area: header;
    color: var(--white);
    
}
.main {
    grid-area: main;
    /* background-color: var(--green); */
    background-image: url(../images/images1234.jpg);
    background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    
    color: var(--white);
    min-height: 600px;
    
}
.left-main {
    grid-area: left-main;
    background-image: url(../images/img1.jpg);
    background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	
  	padding: 100px 90px;
  	line-height: 0px;
  	color: var(--green);
  	
}

/* .left-main:hover {
   background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ),url(../images/img7.jpg);
  	text-align:center;
} */
.right-main {
    grid-area: right-main;
    min-height: 600px;
    padding: 0px 90px;
    
}

.about {
    grid-area: about;
    background-color: var(--green);
    height: fit-content;
    padding-bottom:50px;
}
.contact {
    grid-area: contact;
    background-color: var(--Very-Light-Gray);
    min-height: fit-content;
    padding: 0px 90px 50px 90px;
    text-align:center;
    
}
.footer {
    grid-area: footer;
    background-color: var(--Very-Light-Gray);
    padding-bottom:40px;
    
}
.footer-space{
	 padding-left: 100px;
     padding-right: 100px;
}

.footer-text {
	color: var(--green);
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.main h1 {
	font-size: 70px;
	padding: 200px 100px;
	text-align: center;
	/* font-family: 'Potta One', cursive; */
	font-weight: bolder;
}
.left-main h3 {
	font-size: 60px;
	font-weight: bolder;
}
.white-line {
	border-top: 1px solid white;
}
.navbar {
    background-color: var(--green);
}

.navbar a {
    color: var(--white);
    background-color: var(--green);
    padding: 5px 5px 5px 5px;
    margin: 0;
}
.navbar-light .navbar-brand {
    color: var(--white);
}
.navbar a:active, .navbar a:hover {
    color: var(--green);
    background-color: var(--white);
}

#navbarText {
    background-color: var(--Dark-grey); 
    padding-top:50px; 
    padding-bottom:400px; 
    text-align: center;
}
.close {
    display: none;
}
img 
{ 
    max-width:100%;
}
/* .dissapear {
    display : none;
}
.appear {
    display : inline-block;
} */


.login-section h1 {
    color: var(--green);
    padding-top: 50px;
    text-align: center;
}
.login-section {
    min-height: 450px;
}
.login-section button {
	margin-top: 100px;
}
.login-section form input {
    border: var(--green) 1px solid;
}
.login-section form input::placeholder {
    color: var(--green);
    opacity: 1; /* Firefox */
}
  
.login-section form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--green);
}
  
.login-section form input::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--green);
}

.login-section a { 
    color: var(--green);
}
.btn-login {
    background-color: var(--green);
    color: var(--white);
    width: 49%;
    float: left;
    margin: 2px;
}
.btn-login:hover {
    border: 1px solid var(--green);
    background-color: var(--white);
    color: var(--green);
}
.btn-reset {
    background-color: var(--green);
    color: var(--white);
    width: 49%;
    margin: 2px;
}
.btn-reset:hover {
    border: 1px solid var(--green);
    background-color: var(--white);
    color: var(--green);
}
.line {
    border-top: 1px solid var(--green);
}

.login-section p {
        
    padding-top: 10px;
}
.quote-container {
    background-color: var(--Very-Light-Gray);
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    
}
.about h3 {
    color: var(--Very-Light-Gray);
    text-align: center;
    padding-top: 50px;
}
.contact h3 {
   
    text-align: center;
    padding-top: 50px;
}
.quote {
    font-family: 'Pinyon Script', cursive;
    font-weight: bolder;
    font-size: 50px;
    padding: 10px 10px;
}

.footer ul li {
    list-style: none;
    margin-left: 20px;
    padding-bottom: 50px;
    
}
.footer a {
    color: var(--green);
}
.section {
	min-height: 750px;
}
.section h1,.section h2, .section h2, .section h4, .section h5, .section h6 {
    color: var(--green);
    
}
.section h1,.section h2 {
	padding-top: 90px;
  
    padding-bottom: 90px;
}
.section h1{
	text-align: center;
}
.section button {
    margin-top: 50px;
}
.section form input {
    border: var(--green) 1px solid;
}
.section form input::placeholder {
    color: var(--green);
    opacity: 1;
}
  
.section form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--green);
}

.section form input::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--green);
}
.error {
	color: red;
	font-weight: bolder;
}
.form-select {
    border: var(--green) 1px solid;
    color: var(--green);
}
.contact-row {
	padding-top: 90px;
}
.icon {
	height : 100px;
	width: 100px;
	padding-bottom: 50px;
}
.error-container {
	min-height: 750px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	padding: 150px 50px;
}
/*  desktop only */
@media screen and (min-width: 993px) {

    .login-section h1 {
      
        padding-top: 100px;
    }
    .navbar {
        padding-left: 100px;
        padding-right: 100px;
    }
    /* uncomment this */
    #navbarText {
        display: none;
    }
  
    .footer ul li {
        float: right;
    }
}


/* non desktop only */
@media screen and (max-width: 992px) {

    #desktopnav {
        display: none;
    }
    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "main main"
        "left-main left-main"
        "right-main right-main"
        "about about"
        "contact contact"
        "footer footer";
    }

    .login-section p {
        
        padding-bottom: 50px;
    }
    #navbarText {
        display: none;
    }
    
    .section {
        grid-area: register;
        height: 750px;
    }
    
    .section h1 {
        padding-bottom: 50px;
    }
    
}

/* mobile only */
@media screen and (max-width: 400px) {

    #desktopnav {
        display: none;
    }
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.btn-danger:hover {
	cursor: wait;
	border : 1px red solid;
	color: red;
}